# binary stuff
*.o
objects
a.out*
minishell
# libraries
*.a
*.dylib
*.swiftdoc
*.swiftmodule

# macos garbage
.DS_Store

# vim utils
*.swp
*.vim

# ctags
tags

# debug
.gdb_history

#tester_output
output___bash
output___minishell
